<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>BasisGrotesquePro-Bold.ttf</string>
		<string>BasisGrotesquePro-Light.ttf</string>
		<string>BasisGrotesquePro-Regular.ttf</string>
		<string>Wremena Regular.otf</string>
		<string>Bagnard.otf</string>
		<string>terminal-grotesque_open.ttf</string>
		<string>Trickster-Reg.ttf</string>
		<string>Druk Wide-Medium-Desktop.otf</string>
		<string>CoFo_Sans-Black.ttf</string>
		<string>CoFo_Sans-Bold.ttf</string>
		<string>CoFo_Sans-Medium.ttf</string>
		<string>CoFo_Sans-Regular.ttf</string>
		<string>schwabachergrotesk.otf</string>
		<string>Grtsk-Giga-Medium.ttf</string>
		<string>Grtsk-Giga-Regular.otf</string>
		<string>Menoe Grotesque-Regular-Desktop.otf</string>
		<string>Epos-Medium-App.ttf</string>
		<string>GTPressuraMonoLC-Regular.otf</string>
		<string>GTPressuraPro-Regular.otf</string>
		<string>StyreneBLCApp-Medium.ttf</string>
		<string>StyreneBLCApp-Regular.ttf</string>
		<string>Mabry Pro.otf</string>
		<string>Poteha-Regular.otf</string>
		<string>Mabry Pro Medium.otf</string>
		<string>Mabry Pro Blod.otf</string>
		<string>Mabry Pro Black.otf</string>
		<string>Mabry Pro Light.otf</string>
		<string>MabryMonoPro-Regular.ttf</string>
		<string>MabryMonoPro-Medium.ttf</string>
		<string>MabryMonoPro-Bold.ttf</string>
		<string>Mabry Pro Bold.otf</string>
		<string>KazimirText-Regular.otf</string>
		<string>Visuelt Pro Medium.ttf</string>
		<string>Visuelt Pro Regular.ttf</string>
		<string>Gramatika-Bold.ttf</string>
		<string>MaregrapheCaption-Regular.ttf</string>
		<string>Gramatika-BoldShifted.ttf</string>
		<string>Gramatika-BoldSlanted.ttf</string>
		<string>Gramatika-Regular.ttf</string>
		<string>Gramatika-Shifted.ttf</string>
		<string>Gramatika-Slanted.ttf</string>
		<string>WilliamTextPro-Bld.otf</string>
		<string>WilliamTextPro-BldIta.otf</string>
		<string>WilliamTextPro-Reg.otf</string>
		<string>WilliamTextPro-RegIta.otf</string>
		<string>WilliamTextStd-Orna.otf</string>
		<string>ElmaTrio-Regular.ttf</string>
		<string>ElmaTrio-RegularItalic.ttf</string>
		<string>BagossCondensed-Regular.otf</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
